html, body {
    height: 100%;
    margin: 0;
  }

  body {
    color: yellow;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid white;
  }